{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
          <div class="containerH">Meet The Team</div>
            <div id="leftThing">
				<div class="avatar">
				<img class="img-circle" src="{{ .Site.BaseURL }}img/spasov.png" alt="Responsive image" height="190" width="190">
				</div>
				<h3><strong><a href="https://deann88.github.io">Deyan Spasov</a></strong>
				</h3>		
            </div>
          
            <div id="middleThing">
              <div class="avatar">
			  <img class="img-circle" src="{{ .Site.BaseURL }}img/demirev.png" alt="Responsive image" height="190" width="190">
			  </div>
				<h3><strong><a href="https://deann88.github.io">Georgi Demirev</a></strong>
				</h3>
            </div>
          
            <div id="rightThing">
              <div class="avatar">
			  <img class="img-circle" src="{{ .Site.BaseURL }}img/stoychev.png" alt="Responsive image" height="190" width="190">
			  </div>
				<h3><strong><a href="https://deann88.github.io">Hristo Stoychev</a></strong>
				</h3>
            </div>
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
