{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
          <div class="containerH">dataKubism()</div>
            <div id="leftThing">
              <div><h2>Who we are?</h2></div>
              <div>A team of multiskilled data scientists who have been working together on numerous and diverse projects for more than 3 years.</div>
            </div>
          
            <div id="middleThing">
              <div><h2>What we do?</h2></div>
              <div>Discovering insights within data to empower leaders to make better informed and effective decisions.</div>
            </div>
          
            <div id="rightThing">
              <div><h2>Why work with us?</h2></div>
              <div>
                <div>Three heads are better than one than 3 years.</div>
                <div>Synergy matters</div>
                <div>Wide variety of skills and experience</div>
              </div>
            </div>
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
