{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
          <div class="containerH">dataKubism()</div>
            <div id="leftThing">
              <div><h2><u>Who we are?</u></h2></div>
              <p>A team of multiskilled data scientists who have been working together on numerous and diverse projects for more than 3 years.</p>
			  <div>
			  <p><a href="/team"><strong>Meet the team</strong></a></p>
			  </div>
            </div>
          
            <div id="middleThing">
              <div><h2><u>What we do?</u></h2></div>
              <p>Discovering insights within data to empower leaders to make better informed and effective decisions.</p>
			  <div>
			  <p><a href="/projects"><strong>Check out our projects</strong></a></p>
			  </div>
            </div>
          
            <div id="rightThing">
              <div><h2><u>Why work with us?</u></h2></div>
              <div>
                <p>Three heads are better than one.<br>
                Synergy matters !<br>
				We have wide variety of skills and experience.</p>
				<div>
				<p><a href="mailto:{{ .Site.Params.Social.Email }}"><strong>Contact us</strong></a></p>
				</div>
              </div>
            </div>
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
