{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
          <div class="containerH">dataKubism()<p class="containerH2">Data Science on Your Side</p></div>		  
		  <div class="section level1">
		  <pre class="r hljs customCode"><code>
> print(<span class="hljs-string">businessProblem</span>)
[1] TRUE 
> <a href="/about/" ><span class="hljs-keyword">dataKubism()</span></a>
> print(<span class="hljs-string">businessProblem</span>)
[1] FALSE
			</code></pre>
			</div>
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
