{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
          <div class="containerH">dataKubism()</div>
          <div class="containerC">> print(businessProblem)</div>
          <div class="containerC">[1] True</div>
          <div class="containerCC"><a href="/about/">> dataKubism()</a></div>
          <div class="containerC">> print(businessProblem)</div>
          <div class="containerC">[1] False</div>
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
