{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
          <div class="containerH">dataKubism()</div>
          <div class="containerC">> print(businessProblem)</div>
          <div class="containerC" id = "console">[1] TRUE</div>
          <div class="containerCC"><a href="/about/" id = "console1">> dataKubism()</a></div>
          <div class="containerC">> print(businessProblem)</div>
          <div class="containerC" id = "console">[1] FALSE</div>
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
